#blog {
    color: #333;

    .blog-title {
        color: #0c537a;
        font-family: "Poly";
        letter-spacing: 0.1px;
    }
    a {
        text-decoration: none;
    }

    .btn-reading {
        font-family: "Oswald";
        text-transform: capitalize;
        letter-spacing: 0.51px;
        border: #0c537a 1px solid;
        color: #0c537a;
        padding: 0.45rem;
        border-radius: 4px;
        text-decoration: none;
        font-size: 0.8rem;

        transition: 0.3s;
        &:hover {
            background-color: #0c537a;
            color: white;
        }
    }

    .category {
        font-family: "Poly";
        text-transform: capitalize;
        letter-spacing: 0.51px;
        color: #0c537a;
        transition: 0.3s;
        &:hover {
            color: #083953;
        }
    }

    .tag {
        font-family: "Poly";
        text-transform: capitalize;
        letter-spacing: 0.51px;
        background-color: #0c537a;
        transition: 0.3s;
        &:hover {
            background-color: #083953;
            color: white;
        }
    }

    .archive {
        font-family: "Poly";
        text-transform: capitalize;
        letter-spacing: 0.51px;
        color: #0c537a;
        transition: 0.3s;
        &:hover {
            color: #083953;
        }
    }
}
