#search {
    font-family: "Oswald", sans-serif;

    .search-div {
        width: 400px;
        @media (max-width: 700px) {
            width: 200px;
        }
    }

    .search-input {
        padding-left: 29px;
        color: rgb(119, 123, 128);
        letter-spacing: 1px;
        &:focus {
            box-shadow: none;
        }
    }
    ::placeholder {
        color: rgb(165, 165, 175);
        font-size: 0.9rem;
    }
    .search-icon {
        top: 7px;
        left: 5px;
        font-size: 1rem;
        color: #ccc;
    }
}
