.oval0 {
    position: absolute;
    width: 1077.06px;
    height: 1304.41px;
    left: -47rem;
    top: -27rem;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(
        185.36deg,
        #4f90a3 -14.35%,
        rgba(139, 167, 175, 0) 13.69%,
        rgba(18, 74, 91, 0) 35.99%,
        rgba(18, 74, 91, 0.096) 83.84%
    );
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
    transform: rotate(505.26deg);
}
.oval1 {
    position: absolute;
    width: 1077.06px;
    height: 1304.41px;
    left: 93rem;
    top: 93rem;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(
        185.36deg,
        #b8d9e475 -14.35%,
        rgba(139, 167, 175, 0) 13.69%,
        rgba(18, 74, 91, 0) 35.99%,
        rgba(18, 74, 91, 0.103) 83.84%
    );
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
    transform: rotate(505.26deg);
}

.oval2 {
    position: absolute;
    width: 1077.06px;
    height: 1150.41px;
    left: -47rem;
    top: 140rem;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(
        185.36deg,
        #124a5b -14.35%,
        rgba(139, 167, 175, 0) 13.69%,
        rgba(18, 74, 91, 0) 35.99%,
        rgba(18, 74, 91, 0.082) 83.84%
    );
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
    transform: rotate(505.26deg);
}
.oval3 {
    position: absolute;
    width: 950.06px;
    height: 800.41px;
    left: 55rem;
    top: 7rem;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(
        185.36deg,
        #124a5b -14.35%,
        rgba(139, 167, 175, 0) 13.69%,
        rgba(18, 74, 91, 0) 35.99%,
        rgba(18, 74, 91, 0.082) 83.84%
    );
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
    transform: rotate(105.26deg);
}
